<app-calc-button symbol="7" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="8" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="9" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="+" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<br>
<app-calc-button symbol="4" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="5" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="6" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="-" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<br>
<app-calc-button symbol="1" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="2" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="3" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="*" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<br>
<app-calc-button symbol="0" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="." (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="=" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>
<app-calc-button symbol="/" (calcButtonClick)="receiveSymbol($event)"></app-calc-button>

