<div class="itemContainer">
    <p>{{expression}}</p>
<!--    <button (click)="onButtonClick()"><img src="../../../assets/images/Download.svg" alt=""></button>-->
  <button (click)="onButtonClick()">
    <svg xmlns="http://www.w3.org/2000/svg" height="15" width="16" viewBox="0 0 32 30">
      <g>
        <path
          id="path1"
          fill="#000000"
          d="M0,21L1.9,21 1.9,28 30,28 30,21 32,21 32,28 32,29 32,30 0,30 0,30 0,28z M10,19L16,24 21,19z M15,0L17,0 17,17 25,17 16,26 6,17 15,17z" />
      </g>
    </svg>
  </button>
</div>
