@import "src/styles.scss";

.itemContainer {
  background-color: $textBackgroundColor;
  border-bottom: $borderColor;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 88%;
  display: inline-block;
}

button {
  width: 10%;
  padding: 0.1rem;
  border-color: $borderColor;
  border-radius: 0.25rem;
  background-color: $textBackgroundColor;
  margin-left: 0.5rem;
  vertical-align: baseline;
  &:hover {
    background-color: $highlightColor;
  }
}
